<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AGENCIADIARIOS.Properties.Settings.BD_VENTA_DIARIOSConnectionString"
            connectionString="Data Source=LAPTOP-KHFDS4S3\SQLEXPRESS;Initial Catalog=BD_VENTA_DIARIOS;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>